/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require angular-growl-v2
 // *= require theme
 */

// $icon-font-path: "../assets/bootstrap/";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "theme";


textarea:invalid,
input:invalid {
	box-shadow: 0 10px 10px rgba(220,13,23, .5);
}
header.navbar {
	margin-bottom: 0px;
}
footer p > span {
	padding: 20px;
}


body {
  background-color: none;
  background: image-url('textures/tileable_wood_texture.png') repeat;
}

#tabs .tab-pane {
  background-color: none;
  background: image-url('textures/crossword.png') repeat;
  box-shadow: 0 20px 20px rgba(0,0,0,.8);
}

table tbody {

	tr.selected {
		background-color: #a7c6d8;
		-webkit-transition:	all .2s ease-out;
		-moz-transition:	all .2s ease-out;
		-o-transition:		all .2s ease-out;
		transition:			all .2s ease-out;
	} 
	tr {
		-webkit-transition:	all .2s ease-out;
		-moz-transition:	all .2s ease-out;
		-o-transition:		all .2s ease-out;
		transition:			all .2s ease-out;
	}
	tr:hover {
		// cursor: pointer;
	}
	tr:hover:not(.selected) {
		background-color: #c7e6f8;
		-webkit-transition:	all .2s ease-out;
		-moz-transition:	all .2s ease-out;
		-o-transition:		all .2s ease-out;
		transition:			all .2s ease-out;
	} 

}